faiss-cpu
langchain-google-genai
ipykernel
ipywidgets
langchain
matplotlib
openai
pandas
plotly
python-dotenv
streamlit
streamlit_extras
streamlit_option_menu
textract
tiktoken
chromadb
huggingface_hub
pypdf
InstructorEmbedding
sentence_transformers
nbformat
